body {
    padding-bottom: 500px;
}

div {
    margin-bottom: 10px;
    
}

div label {
    display: block;
    margin-bottom: 10px; /* Adicione a margem inferior desejada */
}

input {
    display: block;
}
