/* reset configurations */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafac9;
}

/* CONTAINERS */
#main-container {
    display: flex;
    margin-top: 30px;
}

#banner-container,
#form-container {
    flex: 1 1 0; /* tem 1 de grow, 1 de stritch e 0 de basis */
    width: 50%;
}

#banner-container {
    text-align: right;
}

#banner-container img {
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    max-width: 450px;
}

#form-container {
    text-align: center;
}

/* LOGIN FORM */
#form-box {
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 30px;
}

#logo-instagram {
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
}

#login-form {
    margin-top: 20px;
}

#login-form input {
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto; /* 5px de margin no topo e base e automatico nos cantos */
}

#login-form input[type="submit"] {
    background-color: #b2dffc;
    color: #FFF;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}

#login-form input:hover[type="submit"] {
    color: #2424e4d4;
}

/* SEPARADOR */
.separtor {
    position: relative; /* a classe maior esta relativa, para que as subclasses sejam position absolute e possam se movimentar dentro do contexto*/
}

.line {
    border-top: 1px solid #DBDBDB;
    width: 268px;
    margin: 25px auto 35px;
}

.separator span {
    position: absolute;
    text-transform: uppercase;
    color: #dbdbdd;
    background-color: #FFF;
    top: -6px;
    width: 50px;
    margin-left: -25px;
    font-size: 14px;
}


