/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    /* Serve para os Inputs */
}

h1,
h2,
h3 {
    color: #333;
}

p {
    color: #70747a;
}

/*   NavBar   */
.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
    /* Aqui temos 0 de espaçamento vertical e 2rem de espaçamento horizontal.
    rem é uma unidade de medida que é relativa ao tamanho da fonte do elemento pai.
     Se a fonte padrão do documento for, por exemplo, 16 pixels, então 1rem será igual a 16 pixels.*/
}

.nav {
    position: relative;

}

.logo {
    width: 55px;
    margin-top: 15px;
}

.navbar-items {
    position: absolute;
    /* Esta relativa ao elemento PAI (.nav) */
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a {
    color: #FFF;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-items a:hover {
    color: silver;
    font-weight: bold;
}

.default-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 7px;
    margin: 5px;
}

.default-btn:hover {
    background-color: #232a31;
}

/* main banner */
.main-banner {
    background-image: url("../img/wallpaper_vancouver.jpg");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
    opacity: 0.95;
    /* Define a opacidade da imagem de fundo */
}

.main-banner h1,
.main-banner p {
    color: #FFF;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 5px 5px 3px;
}

.main-banner h1 {
    font-size: 54px;
}

.main-banner p {
    font-size: 28px;
}

/* Services/Beneficios */

.services-container {
    padding: 3rem 0;
}

.services-container ul {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    /* quando a tela aumentar ou diminuir ele vai se alterar na proporção de 1 e manter largura de 200px; */
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas {
    /* aqui são os icones */
    font-size: 40px;
    margin-bottom: 10px;
}

.fa-shield-alt {
    color: #2cc76a;
}

.fa-rocket {
    color: #ef3f29;
}

.fa-comments {
    color: #ef8f29;
}

.services-container h3 {
    margin-bottom: 15px;
}

.services-container p {
    line-height: 24px;
}

/* plans and prices */

.pricing-container {
    padding-bottom: 3rem;
    text-align: center;
}

.pricing-container h2 {
    font-size: 36px;
}

.pricing-container p {
    font-size: 20px;
    margin-bottom: 30px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 35px;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    background-color: #e8e9ea;
    color: #333;
}

.plan .price {
    width: 220px;
    height: 100px;
    border-radius: 50%;
    background-color: #2cc76a;
    color: #FFF;
    text-align: center;
    line-height: 70px;
    margin: 0 auto -50px;
    font-size: 18px;
    /* position: relative; deixaria o circulo verde com preço acima do retangulo cinza das caracteristicas */
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background-color: #202b34;
    padding: 0;
}

.plan .plan-btn {
    background-color: #2cc762;
    color: #FFF;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}

.plan .plan-btn:hover {
    background-color: #FFF;
    color: #2cc762;
    font-weight: bold;
}

.plan .recommended {
    background-color: #f45657;

}

/* Search Domain */
.searchdomain-container {
    background-color: #34454e;
    text-align: center;
    padding: 2rem 0;
}

.searchdomain-container h2 {
    color: #FFF;
    font-size: 36px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #D5D5D5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchdomain-container input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 25px;
}

.searchdomain-container input[type="submit"] {
    background-color: #2cc76a;
    color: #FFF;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

.searchdomain-container input:hover[type="submit"] {
    background-color: #FFF;
    color: #2cc762;
    font-weight: bold;
}

/* contact form */
.contact-container {
    text-align: center;
    padding: 3rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 36px;

}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 700px;
    height: 150px;
}

.contact-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #2cc76a;
    color: #FFF;
    cursor: pointer;
}

.contact-container input:hover[type="submit"] {
    background-color: #FFF;
    color: #2cc762;
    font-weight: bold;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-weight: bold;
    margin-bottom: 20px 0 50px;
}


/* RESPONSIVIDADE (ADAPTAR A DIFERENTES TELAS) */

/* Small laptops a partir de 1100px */
@media (max-width: 1100px) {
    .plans-container {
        width: 95%;
    }

    .plan {
        margin: 0 10px;
    }
}

/* tablets maximo de 900px */
@media(max-width: 900px) {

    .main-banner p {
        font-size: 28px;
        padding: 0 8rem;
    }

    .pricing-container {
        padding-bottom: 3rem;
        text-align: center;
    }

    .pricing-container h2 {
        font-size: 32px;
    }

    .pricing-container p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .plans-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }

    .plan {
        flex: 1;
        max-width: 150px;
        margin: 0 auto;
    }

    .plan ul {
        font-size: 14px;
        padding: 0;
    }

    .plan li {
        list-style: none;
        height: 40px;
        line-height: 40px;
        background-color: #e8e9ea;
        color: #333;
    }

    .plan .price {
        width: 150px;
        height: 90px;
        border-radius: 50%;
        background-color: #2cc76a;
        color: #FFF;
        text-align: center;
        line-height: 50px;
        margin: 0 auto -50px;
        font-size: 16px;
        /* position: relative; deixaria o circulo verde com preço acima do retangulo cinza das caracteristicas */
    }

    .plan .plan-name {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: #FFF;
        background-color: #202b34;
        padding: 0;
    }

    .plan .plan-btn {
        background-color: #2cc762;
        color: #FFF;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
    }


    .searchdomain-container {
        padding: 1rem 4rem;
    }

    .searchdomain-container h2 {
        color: #FFF;
        font-size: 32px;
        margin: 0 2rem;
        margin-bottom: 10px;
    }

    .searchdomain-container p {
        color: #D5D5D5;
        font-size: 20px;
        margin-bottom: 20px;
    }

    footer {
        font-size: 12px;
        text-align: right;
        font-weight: bold;
        margin-bottom: 20px 0 50px;
        padding: 2%;
    }
}

/* celulares maximo de 600px */
@media(max-width: 600px) {
    /* html */
    html,
    body {
        overflow-x: hidden;
    }

    /*   NavBar   */
    .navbar-container {
        width: 100%;
        height: 80px;
        background-color: #232a31;
        padding: 0 1rem;
    }

    .main-banner p {
        font-size: 24px;
        padding: 0 3rem;
    }

    .navbar-items li {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .logo {
        width: 40px;
        margin: none;
        margin-top: 20px; 
    }

    .plans-container {
        flex-direction: column;
        width: 100%;
    }

    .plan {
        width: 100%;
        max-width: 100%;
    }

    .plan .price {
        width: 100%;
        height: 90px;
        border-radius: 5%;
        background-color: rgb(255, 166, 0);
        color: #FFF;
        text-align: center;
        line-height: 50px;
        margin: 10px auto -50px;
        font-size: 18px;
        font-weight: bold;
        
    }

    .plan ul {
        font-size: 18px;
        padding: 0;
    }

    .plan .plan-btn {
        margin-bottom: 20px;
    }

    .contact-container input,
    .contact-container textarea {
        width: 100%;
        margin: 10px 0;

    }

    /* Services/Beneficios */

    .services-container {
        padding: 2rem 0;
        width: 100%;
    }

    .services-container ul {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .services-container li {
        flex: 1 1 200px;
        /* quando a tela aumentar ou diminuir ele vai se alterar na proporção de 1 e manter largura de 200px; */
        list-style: none;
        text-align: center;
        padding: 20px;
    }

    .fas {
        /* aqui são os icones */
        font-size: 40px;
        margin-bottom: 10px;
    }

    .fa-shield-alt {
        color: #2cc76a;
    }

    .fa-rocket {
        color: #ef3f29;
    }

    .fa-comments {
        color: #ef8f29;
    }

    .services-container h3 {
        margin-bottom: 15px;
    }

    .services-container p {
        line-height: 24px;
    }

    .searchdomain-container h2 {
        color: #FFF;
        font-size: 28px;
        margin: 1rem;
        margin-bottom: 10px;
    }

    .searchdomain-container input[type="text"] {
        width: 100%;
    }

    footer {
        padding: 2%;
    }
}